{
	margin:  0;
	padding: 0;
	box-sizing: border-box;

	}
body {
	background-color: lightgray;

}
.image-size{
	height:100px;
	width: 200px;
	float: right;
	border:  10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.header-text
{
	text-align: center;
}.header-p{
	text-align: justify;
}
.pad{
	margin: 0 !important;
	padding: 2px !important;
	margin-right: 5% !important;
	margin-left: 5% !important;

}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius:50%
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.height{
  height: 6vh  !important;
  padding: 0px !important;
}